Fondement Data Science

Projet préparé par: Ghada MADDOURI & Baha MABROUK

# Prédiction de prix des voitures

## importer les bibliothèques:

In [1]:
pip install --user scipy

Requirement already satisfied: scipy in d:\anaconda3\lib\site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in d:\anaconda3\lib\site-packages (from scipy) (1.23.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --user numpy

Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (1.23.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

## Lire le fichier .csv

In [2]:
Data_df = pd.read_csv('Data.csv')
Data_df.head()

,Lien,Kilomètrage,Couleur,Etat,Boite,Année,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix
0,https://www.tayara.tn/item/63d59c5b1b3fed8fd49...,95000,Blanc,Nouveau,Manuelle,2017,1.2L,Citroen,DS3,5.0,Compacte,Essence,39
1,https://www.tayara.tn/item/640b0727ff75361c11d...,208000,Noir,Avec kilométrage,Manuelle,2016,1.2L,Volkswagen,Golf,5.0,Compacte,Essence,53
2,https://www.tayara.tn/item/640ae983ff75361c11d...,87000,Gris,Avec kilométrage,Manuelle,2017,1.2L,Volkswagen,Golf 7,6.0,Compacte,Essence,67
3,https://www.tayara.tn/item/6407b212ff75361c11d...,99000,Rouge,Avec kilométrage,Manuelle,2015,1.4L,Alfa Romeo,Giulietta,7.0,Compacte,Essence,35
4,https://www.tayara.tn/item/6405e9bd8575ab54182...,58500,Gris,Avec kilométrage,Manuelle,2020,1.2L,Renault,Clio,5.0,Compacte,Essence,42

## Modifier le nom de quelques colonnes

In [3]:
Data_df

,Lien,Kilomètrage,Couleur,Etat,Boite,Année,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix
0,https://www.tayara.tn/item/63d59c5b1b3fed8fd49...,95000,Blanc,Nouveau,Manuelle,2017,1.2L,Citroen,DS3,5.0,Compacte,Essence,39
1,https://www.tayara.tn/item/640b0727ff75361c11d...,208000,Noir,Avec kilométrage,Manuelle,2016,1.2L,Volkswagen,Golf,5.0,Compacte,Essence,53
2,https://www.tayara.tn/item/640ae983ff75361c11d...,87000,Gris,Avec kilométrage,Manuelle,2017,1.2L,Volkswagen,Golf 7,6.0,Compacte,Essence,67
3,https://www.tayara.tn/item/6407b212ff75361c11d...,99000,Rouge,Avec kilométrage,Manuelle,2015,1.4L,Alfa Romeo,Giulietta,7.0,Compacte,Essence,35
4,https://www.tayara.tn/item/6405e9bd8575ab54182...,58500,Gris,Avec kilométrage,Manuelle,2020,1.2L,Renault,Clio,5.0,Compacte,Essence,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2192,https://www.tayara.tn/item/63b2ba448904729b1d9...,500,Blanc,Avec kilométrage,Manuelle,2002,2.0L,Renault,Master,8.0,Autres,Diesel,12
2193,https://www.tayara.tn/item/63b1cee18904729b1d9...,240000,Blanc,Avec kilométrage,Manuelle,2018,2.5L,Isuzu,D-MAX,8.0,Autres,Diesel,49
2194,https://www.tayara.tn/item/63b1b60a8904729b1d9...,253990,Noir,Avec kilométrage,Manuelle,2010,3.0L,Renault,Symbol,5.0,Autres,Essence,18
2195,https://www.tayara.tn/item/63b0d35e8904729b1d9...,0,Noir,Nouveau,Manuelle,2016,<1.0L,Autres,Autres,5.0,Autres,Essence,36
2196,https://www.tayara.tn/item/63b064108904729b1d9...,66200,Noir,Nouveau,Manuelle,2018,1.2L,Hyundai,I 10,5.0,Autres,Essence,39

## Créer une copie de la dataset

In [4]:
Data_df_recode = Data_df.copy().drop('Lien', axis=1)

In [5]:
Data_df_recode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197 entries, 0 to 2196
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kilomètrage  2062 non-null   object
 1   Couleur      2062 non-null   object
 2   Etat         2062 non-null   object
 3   Boite        2062 non-null   object
 4   Année        2062 non-null   object
 5   Cylindré     2062 non-null   object
 6   Marque       2062 non-null   object
 7   Gamme        2062 non-null   object
 8   Puissance    2062 non-null   float64
 9   Carrosserie  2062 non-null   object
 10  Carburant    2062 non-null   object
 11  Prix         2058 non-null   object
dtypes: float64(1), object(11)
memory usage: 206.1+ KB

## Correction des valeurs aberrantes & transformation en variables quantitatives

In [6]:
Data_df_recode['Puissance'].fillna(0, inplace=True)
Data_df_recode['Puissance'] = Data_df_recode['Puissance'].astype(float).astype(int)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Puissance'] > 41].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Puissance'] < 3].index)

In [7]:
Data_df_recode.info(max_cols=len(Data_df_recode))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1923 entries, 0 to 2196
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kilomètrage  1923 non-null   object
 1   Couleur      1923 non-null   object
 2   Etat         1923 non-null   object
 3   Boite        1923 non-null   object
 4   Année        1923 non-null   object
 5   Cylindré     1923 non-null   object
 6   Marque       1923 non-null   object
 7   Gamme        1923 non-null   object
 8   Puissance    1923 non-null   int32
 9   Carrosserie  1923 non-null   object
 10  Carburant    1923 non-null   object
 11  Prix         1919 non-null   object
dtypes: int32(1), object(11)
memory usage: 187.8+ KB

In [8]:
# Supprimer les lignes avec au moins 4 cellules vides
Data_df_recode = Data_df_recode.dropna(thresh=4)

Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Année'] == '1.4L'].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Année'] == '150.000'].index)

# Afficher la dataframe après la suppression des lignes
Data_df_recode

,Kilomètrage,Couleur,Etat,Boite,Année,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix
0,95000,Blanc,Nouveau,Manuelle,2017,1.2L,Citroen,DS3,5,Compacte,Essence,39
1,208000,Noir,Avec kilométrage,Manuelle,2016,1.2L,Volkswagen,Golf,5,Compacte,Essence,53
2,87000,Gris,Avec kilométrage,Manuelle,2017,1.2L,Volkswagen,Golf 7,6,Compacte,Essence,67
3,99000,Rouge,Avec kilométrage,Manuelle,2015,1.4L,Alfa Romeo,Giulietta,7,Compacte,Essence,35
4,58500,Gris,Avec kilométrage,Manuelle,2020,1.2L,Renault,Clio,5,Compacte,Essence,42
...,...,...,...,...,...,...,...,...,...,...,...,...
2192,500,Blanc,Avec kilométrage,Manuelle,2002,2.0L,Renault,Master,8,Autres,Diesel,12
2193,240000,Blanc,Avec kilométrage,Manuelle,2018,2.5L,Isuzu,D-MAX,8,Autres,Diesel,49
2194,253990,Noir,Avec kilométrage,Manuelle,2010,3.0L,Renault,Symbol,5,Autres,Essence,18
2195,0,Noir,Nouveau,Manuelle,2016,<1.0L,Autres,Autres,5,Autres,Essence,36
2196,66200,Noir,Nouveau,Manuelle,2018,1.2L,Hyundai,I 10,5,Autres,Essence,39

In [9]:
Data_df_recode['annee'] = Data_df_recode['Année'].apply(lambda x: int(x[-4:]) if "." in x else int(x))

In [10]:
Data_df_recode['annee']

0       2017
1       2016
2       2017
3       2015
4       2020
        ...
2192    2002
2193    2018
2194    2010
2195    2016
2196    2018
Name: annee, Length: 1922, dtype: int64

In [11]:
Data_df_recode

,Kilomètrage,Couleur,Etat,Boite,Année,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,annee
0,95000,Blanc,Nouveau,Manuelle,2017,1.2L,Citroen,DS3,5,Compacte,Essence,39,2017
1,208000,Noir,Avec kilométrage,Manuelle,2016,1.2L,Volkswagen,Golf,5,Compacte,Essence,53,2016
2,87000,Gris,Avec kilométrage,Manuelle,2017,1.2L,Volkswagen,Golf 7,6,Compacte,Essence,67,2017
3,99000,Rouge,Avec kilométrage,Manuelle,2015,1.4L,Alfa Romeo,Giulietta,7,Compacte,Essence,35,2015
4,58500,Gris,Avec kilométrage,Manuelle,2020,1.2L,Renault,Clio,5,Compacte,Essence,42,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2192,500,Blanc,Avec kilométrage,Manuelle,2002,2.0L,Renault,Master,8,Autres,Diesel,12,2002
2193,240000,Blanc,Avec kilométrage,Manuelle,2018,2.5L,Isuzu,D-MAX,8,Autres,Diesel,49,2018
2194,253990,Noir,Avec kilométrage,Manuelle,2010,3.0L,Renault,Symbol,5,Autres,Essence,18,2010
2195,0,Noir,Nouveau,Manuelle,2016,<1.0L,Autres,Autres,5,Autres,Essence,36,2016
2196,66200,Noir,Nouveau,Manuelle,2018,1.2L,Hyundai,I 10,5,Autres,Essence,39,2018

In [13]:
Data_df_recode["Couleur"].unique()

array(['Blanc', 'Noir', 'Gris', 'Rouge', 'Beige', 'Bleu', 'Vert', 'Camel',
       'Orange', 'Marron', 'Argent', 'Autre', 'Rose', 'Corail', 'Doré',
       'Jaune', 'Multicolore', 'Violet'], dtype=object)

In [12]:
Data_df_recode[Data_df_recode["Marque"] == "Citroen"]["Gamme"].unique()

array(['DS3', 'C3', 'C4', 'Nemo', 'C-Elysée', 'Berlingo', 'Saxo', 'C35',
       'C15', 'C4 Cactus', 'C4 Picasso', 'C2', 'Jumper', 'DS4', 'C5',
       'C3 Pluriel', 'Jumpy', 'DS5', 'C1', 'DS', 'Citroen.C4', 'C-Elysee'],
      dtype=object)

In [13]:
Data_df_recode.info(max_cols=len(Data_df_recode))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1922 entries, 0 to 2196
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kilomètrage  1922 non-null   object
 1   Couleur      1922 non-null   object
 2   Etat         1922 non-null   object
 3   Boite        1922 non-null   object
 4   Année        1922 non-null   object
 5   Cylindré     1922 non-null   object
 6   Marque       1922 non-null   object
 7   Gamme        1922 non-null   object
 8   Puissance    1922 non-null   int32
 9   Carrosserie  1922 non-null   object
 10  Carburant    1922 non-null   object
 11  Prix         1918 non-null   object
 12  annee        1922 non-null   int64
dtypes: int32(1), int64(1), object(11)
memory usage: 202.7+ KB

In [14]:
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['annee'] < 1960].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['annee'] >2023].index)
Data_df_recode['annee']

0       2017
1       2016
2       2017
3       2015
4       2020
        ...
2192    2002
2193    2018
2194    2010
2195    2016
2196    2018
Name: annee, Length: 1879, dtype: int64

In [15]:
Data_df_recode=Data_df_recode.drop('Année', axis=1)

In [16]:
Data_df_recode.rename(columns = {'annee':'Annee'}, inplace = True)
Data_df_recode['Annee'] = Data_df_recode['Annee'].astype(str).astype(int)
Data_df_recode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1879 entries, 0 to 2196
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kilomètrage  1879 non-null   object
 1   Couleur      1879 non-null   object
 2   Etat         1879 non-null   object
 3   Boite        1879 non-null   object
 4   Cylindré     1879 non-null   object
 5   Marque       1879 non-null   object
 6   Gamme        1879 non-null   object
 7   Puissance    1879 non-null   int32
 8   Carrosserie  1879 non-null   object
 9   Carburant    1879 non-null   object
 10  Prix         1875 non-null   object
 11  Annee        1879 non-null   int32
dtypes: int32(2), object(10)
memory usage: 176.2+ KB

In [17]:
le = LabelEncoder()

Data_df_recode['Couleur'] = le.fit_transform(Data_df_recode['Couleur'])

Data_df_recode['Etat'] = le.fit_transform(Data_df_recode['Etat'])

Data_df_recode['Cylindré'] = le.fit_transform(Data_df_recode['Cylindré'])

Data_df_recode['Boite'] = le.fit_transform(Data_df_recode['Boite'])

Data_df_recode['Marque'] = le.fit_transform(Data_df_recode['Marque'])

Data_df_recode['Carburant'] = le.fit_transform(Data_df_recode['Carburant'])

Data_df_recode['Carrosserie'] = le.fit_transform(Data_df_recode['Carrosserie'])

Data_df_recode['Gamme'] = le.fit_transform(Data_df_recode['Gamme'])

In [18]:
Data_df_recode

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,Annee
0,95000,3,2,1,1,11,111,5,4,2,39,2017
1,208000,12,0,1,1,42,146,5,4,2,53,2016
2,87000,8,0,1,1,42,151,6,4,2,67,2017
3,99000,15,0,1,3,2,144,7,4,2,35,2015
4,58500,8,0,1,1,34,97,5,4,2,42,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
2192,500,3,0,1,9,34,191,8,1,1,12,2002
2193,240000,3,0,1,14,20,109,8,1,1,49,2018
2194,253990,12,0,1,18,34,260,5,1,2,18,2010
2195,0,12,2,1,21,4,49,5,1,2,36,2016
2196,66200,12,2,1,1,19,163,5,1,2,39,2018

In [19]:
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == Data_df_recode['Kilomètrage']].index)
Data_df_recode

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,Annee
0,95000,3,2,1,1,11,111,5,4,2,39,2017
1,208000,12,0,1,1,42,146,5,4,2,53,2016
2,87000,8,0,1,1,42,151,6,4,2,67,2017
3,99000,15,0,1,3,2,144,7,4,2,35,2015
4,58500,8,0,1,1,34,97,5,4,2,42,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
2192,500,3,0,1,9,34,191,8,1,1,12,2002
2193,240000,3,0,1,14,20,109,8,1,1,49,2018
2194,253990,12,0,1,18,34,260,5,1,2,18,2010
2195,0,12,2,1,21,4,49,5,1,2,36,2016
2196,66200,12,2,1,1,19,163,5,1,2,39,2018

In [20]:
Data_df_recode['Kilomètrage'] = Data_df_recode['Kilomètrage'].str.replace('.', '', regex=False)
Data_df_recode['Kilomètrage'] = Data_df_recode['Kilomètrage'].str.replace(' km', '', regex=False)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Kilomètrage'] == '111111111111111E+016'].index)

Data_df_recode['Kilomètrage'] = Data_df_recode['Kilomètrage'].astype(str).astype(int)
Data_df_recode.loc[Data_df_recode['Kilomètrage'] < 1000, 'Kilomètrage'] *= 1000

In [21]:
Data_df_recode['Prix'].fillna(0, inplace=True)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == '9.400 km'].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == '123'].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == '999'].index)

In [22]:
Data_df_recode['Prix']

0       39
1       53
2       67
3       35
4       42
        ..
2192    12
2193    49
2194    18
2195    36
2196    39
Name: Prix, Length: 1805, dtype: object

In [23]:
Data_df_recode['Prix'] = Data_df_recode['Prix'].astype(str).astype(float)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == 0.0].index)
Data_df_recode = Data_df_recode.drop(Data_df_recode[Data_df_recode['Prix'] == 1.0].index)
Data_df_recode.loc[Data_df_recode['Prix'] < 1000, 'Prix'] *= 1000
Data_df_recode['Prix'] = Data_df_recode['Prix'].astype(float).astype(int)

In [24]:
Data_df_recode['Prix']

0       39000
1       53000
2       67000
3       35000
4       42000
        ...
2192    12000
2193    49000
2194    18000
2195    36000
2196    39000
Name: Prix, Length: 1800, dtype: int32

In [25]:
Data_df_recode.describe()

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,Annee
count,1.800000e+03,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.00000
mean,6.949748e+05,7.517778,0.441111,0.836667,6.435556,24.830556,140.921111,6.380000,3.085556,1.597778,40037.111111,2012.40500
std,2.095235e+07,4.323072,0.862974,0.369772,6.253871,12.244982,78.230574,2.567822,2.246463,0.492744,26932.624653,6.53786
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,10000.000000,1983.00000
25%,9.000000e+04,3.000000,0.000000,1.000000,1.000000,14.000000,72.750000,5.000000,1.000000,1.000000,22500.000000,2009.00000
50%,1.600000e+05,8.000000,0.000000,1.000000,5.000000,28.000000,146.000000,6.000000,2.000000,2.000000,32000.000000,2014.00000
75%,2.292500e+05,12.000000,0.000000,1.000000,9.000000,34.000000,210.000000,7.000000,4.000000,2.000000,49000.000000,2018.00000
max,8.888889e+08,17.000000,4.000000,1.000000,22.000000,45.000000,288.000000,40.000000,7.000000,3.000000,375000.000000,2023.00000

In [26]:
Data_df_recode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1800 entries, 0 to 2196
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kilomètrage  1800 non-null   int32
 1   Couleur      1800 non-null   int32
 2   Etat         1800 non-null   int32
 3   Boite        1800 non-null   int32
 4   Cylindré     1800 non-null   int32
 5   Marque       1800 non-null   int32
 6   Gamme        1800 non-null   int32
 7   Puissance    1800 non-null   int32
 8   Carrosserie  1800 non-null   int32
 9   Carburant    1800 non-null   int32
 10  Prix         1800 non-null   int32
 11  Annee        1800 non-null   int32
dtypes: int32(12)
memory usage: 98.4 KB

In [27]:
Data_df_recode

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,Annee
0,95000,3,2,1,1,11,111,5,4,2,39000,2017
1,208000,12,0,1,1,42,146,5,4,2,53000,2016
2,87000,8,0,1,1,42,151,6,4,2,67000,2017
3,99000,15,0,1,3,2,144,7,4,2,35000,2015
4,58500,8,0,1,1,34,97,5,4,2,42000,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
2192,500000,3,0,1,9,34,191,8,1,1,12000,2002
2193,240000,3,0,1,14,20,109,8,1,1,49000,2018
2194,253990,12,0,1,18,34,260,5,1,2,18000,2010
2195,0,12,2,1,21,4,49,5,1,2,36000,2016
2196,66200,12,2,1,1,19,163,5,1,2,39000,2018

## Définir les variables du modèle

In [28]:
X,y=Data_df_recode.drop('Prix', axis=1), Data_df_recode['Prix']
X.shape
y.shape

(1800,)

## Préparer les training & test sets

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Aplliquer le modèle
### Dans ce cas on a trouvé que la régression multiple donne le meilleur résultat

In [30]:
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [31]:
X_train

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Annee
1390,300000,3,0,1,4,11,170,5,7,1,2017
985,120000,16,0,1,1,32,5,6,5,2,2017
1168,195000,8,0,1,1,42,146,6,7,2,2012
1291,195000,3,2,1,9,11,170,7,7,1,2017
1020,320000,12,0,1,8,42,147,6,5,1,1992
...,...,...,...,...,...,...,...,...,...,...,...
981,200000,12,0,0,11,28,277,5,5,1,2012
1403,170000,3,0,1,3,14,117,5,7,1,2017
1987,165000,12,2,1,3,32,6,5,1,2,2011
667,139000,3,0,1,1,11,60,5,2,2,2018
815,102000,1,0,1,1,37,131,4,2,2,2019

In [32]:
Data_df_recode.describe()

,Kilomètrage,Couleur,Etat,Boite,Cylindré,Marque,Gamme,Puissance,Carrosserie,Carburant,Prix,Annee
count,1.800000e+03,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.00000
mean,6.949748e+05,7.517778,0.441111,0.836667,6.435556,24.830556,140.921111,6.380000,3.085556,1.597778,40037.111111,2012.40500
std,2.095235e+07,4.323072,0.862974,0.369772,6.253871,12.244982,78.230574,2.567822,2.246463,0.492744,26932.624653,6.53786
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,10000.000000,1983.00000
25%,9.000000e+04,3.000000,0.000000,1.000000,1.000000,14.000000,72.750000,5.000000,1.000000,1.000000,22500.000000,2009.00000
50%,1.600000e+05,8.000000,0.000000,1.000000,5.000000,28.000000,146.000000,6.000000,2.000000,2.000000,32000.000000,2014.00000
75%,2.292500e+05,12.000000,0.000000,1.000000,9.000000,34.000000,210.000000,7.000000,4.000000,2.000000,49000.000000,2018.00000
max,8.888889e+08,17.000000,4.000000,1.000000,22.000000,45.000000,288.000000,40.000000,7.000000,3.000000,375000.000000,2023.00000

In [33]:
# Effectuer des prédictions sur les données de test
y_pred = regr.predict(X_test)

# Évaluer les performances du modèle (facultatif)
score = regr.score(X_test, y_test)

In [34]:
print(score)

0.500681079073116

In [40]:
from sklearn.metrics import mean_squared_error

# Calculer l'erreur quadratique moyenne (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("RMSE:", rmse)

RMSE: 18290.37845594072

In [41]:
from sklearn.metrics import mean_absolute_error

# Calculer l'erreur absolue moyenne (MAE)
mae = mean_absolute_error(y_test, y_pred)

print("MAE:", mae)

MAE: 12627.521937237361

In [35]:
t=np.array([95000, 3, 2, 1, 1, 11, 111, 5, 4, 2, 2017])
t = np.array(t).reshape(1, -1)
t_pred = regr.predict(t)
t_pred

array([35822.84447069])